{{# if hasError }}
<div class="alert alert-danger text-center alert-dismissible fade show position-absolute" role="alert"
    style="width: 100%;">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{# each messages}}
    {{this}}</br>
    {{/each}}
</div>
{{/if}}


<div class="container-fluid">
    <div class="table-row" style="margin-top: 50px;">
        <label>
            <h4>Address:</h4>
        </label>
        <label style="font-size: 30px; margin-left: 15px;">{{ address }}</label>
    </div>
    <div class="table-row mt-3">
        <label>
            <h4>Balance:</h4>
        </label>
        <label style="font-size: 30px; margin-left: 15px;">{{ balance }} MEC</label>
    </div>
    <div class="text-center mt-3">
        <h3>My history transaction</h3>
    </div>
    <table class="table table-hover mt-3 rounded">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Txn Hash</th>
                <th scope="col">Method</th>
                <th scope="col">Time</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody >
            {{# if hasTransaction }}
            {{# each transactions}}
            <tr>
                <th scope="row">{{this.index}}</th>
                <td class="text-truncate" style="max-width: 300px;">{{this.hash}}</td>
                <td>{{this.method}}</td>
                <td>{{prettifyDate this.timestamp}}</td>
                <td class="text-truncate" style="max-width: 300px;">{{this.fromAddress}}</td>
                <td class="text-truncate" style="max-width: 300px;">{{this.toAddress}}</td>
                <td class="text-truncate" style="max-width: 300px;">{{this.amount}} MEC</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>