{{# if hasError }}
<div class="alert alert-danger text-center alert-dismissible fade show position-absolute" role="alert"
    style="width: 100%; z-index: 5;">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{# each messages}}
    {{this}}</br>
    {{/each}}
</div>
{{/if}}


<div class="container-fluid">
    <div class="container">
        <div class="card m-5">
            <div class="card-header">
                <h4>Detail of wallet</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <label class="col-form-label">Wallet Address:</label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="col-form-label">{{address}}</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <label class="col-form-label">Wallet balance:</label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="col-form-label">{{balance}} MEC</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <h3>My history transaction</h3>
    </div>
    <table class="table table-hover mt-3 rounded">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Txn Hash</th>
                <th scope="col">Method</th>
                <th scope="col">Time</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody >
            {{# if hasTransaction }}
            {{# each transactions}}
            <tr>
                <th scope="row">{{this.index}}</th>
                <td class="text-truncate" style="max-width: 300px;">
                    <a class="text-decoration-none  " href="/tx/{{this.hash}}">{{this.hash}}</a>
                </td>
                <td>{{this.method}}</td>
                <td>{{prettifyDate this.timestamp}}</td>
                <td class="text-truncate" style="max-width: 300px;">
                    <a class="text-decoration-none  " href="/address/{{this.fromAddress}}">
                        {{this.fromAddress}}
                    </a>
                </td>
                <td class="text-truncate" style="max-width: 300px;">
                    <a class="text-decoration-none  " href="/address/{{this.toAddress}}">
                        {{this.toAddress}}
                    </a>
                </td>
                <td class="text-truncate" style="max-width: 300px;">{{this.amount}} MEC</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>